// Fonts
//@import url('http://fonts.googleapis.com/css?family=Lato');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

body{
    margin: 25px 120px;
    font-family: 'lato','latoregular','latoblack','latoblackitalic','latobold','latobolditalic','latoitalic','latolightitalic','latolight';
}
//GLOBAL
p, h1,h2,h3,h4,h5 {
    margin: 0;
}
.barWithText{
    .textProgress{
        display: flex;
        justify-content: flex-end;
    }
}


//Navigation Bar
.navbar{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: fit-content;
        height: 6vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .locationSection{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        cursor: pointer;
        img{
            width: fit-content;
            height: 30px;
        }
        .locationText{
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin: 0;
            }
        }
    }
    .searchbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        input{
            width: 28vw;
            height: 35px;
            padding: 0 50px 0 5px;
            border: 1px solid #31353B;
            outline: none;
        }

        button{
            height: 35px;
            width: 45px;
            position: absolute;
            border: none;
            border-left: 1px solid rgba($color: #31353B, $alpha: 0.2);
            background-color: transparent;
        }

        input:focus{
            outline: none;
            border-color: #F5D108;
        }

    }

    .buttonWithImage{
        background-color: transparent;
        border: none;
        cursor: pointer;
        img{
            width: fit-content;
            height: 30px;
        }
    }
    .buttonLoginRegister{
        .buttonLogin{
            width: 70px;
            height: 36px;
            border: 1px solid #FFD901;
            color: #F5D108;
            background-color: transparent;
            cursor: pointer;
        }
        .buttonRegister{
            width: 70px;
            height: 36px;
            background-color: #FFD901;
            border: none;
            cursor: pointer;
        }
    }
}

//Home
.homeCarousel{
    position: relative;
    .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        background-size: cover;
        background-position: 50%;
        min-height: 20vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        //height: 100%;
        object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev{
        color: #F5D108;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 50%;
        font-size: 50px;
        width: 60px;
        height: 60px;
    }
    .swiper-pagination{
        bottom: 4.5vh!important;
    }
}

.wish {
    height: 334px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(1px 6px 4px rgba(49, 53, 59, 0.12));

    img {
        width: 200px;
        height: 200px;
    }

    .content {
        padding: 2px 6px;
    }

    .timeLeft {
        height: 24px;
        width: 100%;
        background-color: #EA260D;
        color: white;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

.lastMinuteSection{
    margin-top: 35px;
    .banner{
        position: absolute;
    }
    .lastMinute {
        display: flex;
        justify-content: flex-end;

        .listWish {
            width: 54vw;
            height: 50vh;
            display: flex;
            align-items: center;
            .swiper-wrapper{
                height: 43vh;
            }
            .swiper-slide {
                display: flex;
                align-items: center;
                .swiper-slide-active {
                    width: fit-content !important;
                    margin-right: 0 !important;
                }
            }

            .swiper-slide {
                width: fit-content !important;
                margin-right: 20px;
            }
        }
    }
}

.category{
    margin-top: 10vh;

    .categorySwipe{
        padding: 0 85px;
    }
    .swiper-slide {
        width: fit-content !important;
        margin-right: 20px;
    }
    .filter{
        width: 120px;
        height: 120px;
        background-color: #FFD901;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imgFilter{
            width: 62px;
            height: 62px;
        }
        p{
            margin: 0;
        }
    }
}

.forYou{
    .column {
        float: left;
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
    .row{
        margin-top: 30px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

//Wish Detail
.wishDetail {
    .column {
        float: left;
        width: 33.33%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .product{
        .price{
            margin:10px 0;
            border-top: 2px solid rgb(49,53,59,0.2);
            border-bottom: 2px solid rgb(49,53,59,0.2);
            h2{
                margin: 10px 0;
            }
        }

        .information{
            .columnA {
                float: left;
                width: 40%;
                color: rgb(49,53,59,0.5);
            }
            .columnB{
                float: left;
                width: 60%;
                .imgShip{
                    width: 50px;
                }
                .imgInfo {
                    width: 20px;
                }
            }
            .row{
                margin-bottom: 27px;
            }
            .row:after {
                content: "";
                display: table;
                clear: both;

            }
        }
    }

    .checkout{
        width: 275px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid rgba(49, 53, 59, 0.2);
        box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
        border-radius: 5px;
        .variant{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            border-bottom: 1px solid rgba(49, 53, 59, 0.2);
            padding: 20px 20px;
            select{
                width: 235px;
                height: 36px;
                margin-top: 20px;
                outline: none;
                border: 1px solid rgba(49, 53, 59, 0.2);
                box-sizing: border-box;
                border-radius: 5px;
            }
            select:hover{
                color: #F5D108;
                border-color: #F5D108;
            }
        }
        .total{
            padding: 20px 20px;
            .inputTotal{
                display: flex;
                margin-top: 20px;
                margin-bottom: 8px;
            }
            p{
                margin-left: 5px;
            }
        }
        .buttonCheckout{
            .addKeranjang{
                width: 235px;
                height: 36px;
                background: #FFD901;
                border-radius: 5px;
                border: 1px solid #FFD901;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
                .plus{
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                }
            }
            .buyNow{
                width: 235px;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #FFD901;
                box-sizing: border-box;
                border-radius: 5px;
                margin-bottom: 20px;
            }
        }
    }

    .productDetail{
        width: 875px;
        border: 1px solid rgb(49,53,59,0.2);
        filter: drop-shadow(1px 6px 6px rgba(49, 53, 59, 0.15));
        border-radius: 5px;
        .title{
            padding: 25px 20px;
            border-bottom: 1px solid rgba(49, 53, 59, 0.2);
        }
        .content{
            padding: 25px 20px;
        }
    }

    //Swiper
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .bigPicture {
        //height: 80%;
        width: 80%;
    }

    .listPicture {
        height: 20%;
        box-sizing: border-box;
        width: 80%;
        padding: 10px 0;
    }

    .listPicture .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .listPicture .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // End of Swiper
}



