* {
  font-family: "lato", "latoregular", "latoblack", "latoblackitalic", "latobold", "latobolditalic", "latoitalic", "latolightitalic", "latolight";
}

body {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  cursor: pointer;
}

.barWithText .textProgress {
  display: flex;
  justify-content: flex-end;
}

.blackContainer {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentContainer {
  padding: 25px 120px;
  min-height: calc(100vh - 140px);
}

.contentExtraSmall {
  font-size: 10px;
}

.contentSmall {
  font-size: 12px;
}

.contentSemiNormal {
  font-size: 14px;
}

.contentNormal {
  font-size: 16px;
}

.contentSemiBig {
  font-size: 18px;
}

.contentBig {
  font-size: 24px;
}

.contentSemiExtraBig {
  font-size: 30px;
}

.contentExtraBig {
  font-size: 36px;
}

.statusGreen {
  font-size: 14px;
  font-weight: 800;
  color: #57B793;
  background: #DEFDE0;
  padding: 8px;
  border-radius: 5px;
}

.statusYellow {
  font-size: 14px;
  font-weight: 800;
  color: #C8774A;
  background: #FCEEB8;
  padding: 8px;
  border-radius: 5px;
}

.statusRed {
  font-size: 14px;
  font-weight: 800;
  color: #DC354F;
  background: #FBEBEF;
  padding: 8px;
  border-radius: 5px;
}

.firstRegister {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstRegister .registerContainer {
  width: 478px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  box-shadow: 1px 6px 4px rgba(49, 53, 75, 0.25);
  border-radius: 5px;
  padding: 25px;
}

.firstRegister .registerContainer .section {
  margin-top: 35px;
}

.firstRegister .registerContainer .section .contentSemiBig {
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.8);
}

.firstRegister .registerContainer .section #day,
.firstRegister .registerContainer .section #year {
  height: 45px;
  width: 125px;
  padding: 5px;
}

.firstRegister .registerContainer .section #month {
  height: 45px;
  width: 145px;
  padding: 5px;
}

.firstRegister .registerContainer .section select {
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 5px;
}

.firstRegister .registerContainer .section input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.firstRegister .registerContainer .section input:focus {
  border-color: #D5B81B;
}

.firstRegister .registerContainer .section button {
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.firstRegister .registerContainer .section textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.firstRegister .registerContainer .section textarea:focus {
  border-color: #D5B81B;
}

.firstRegister .registerContainer .section2 {
  margin-top: 35px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.firstRegister .registerContainer .section2 .contentSemiBig {
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.8);
}

.firstRegister .registerContainer .section2 input {
  width: 60%;
  height: 50px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.firstRegister .registerContainer .section2 input:focus {
  border-color: #D5B81B;
}

.firstRegister .registerContainer .section2 button {
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.secondRegister {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 50px 25px 0;
}

.secondRegister .registerContainer {
  width: 478px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  box-shadow: 1px 6px 4px rgba(49, 53, 75, 0.25);
  border-radius: 5px;
  padding: 25px;
}

.secondRegister .registerContainer .section {
  margin-top: 35px;
}

.secondRegister .registerContainer .section .contentSemiBig {
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.8);
}

.secondRegister .registerContainer .section input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.secondRegister .registerContainer .section input:focus {
  border-color: #D5B81B;
}

.secondRegister .registerContainer .section button {
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.secondRegister .registerContainer .section textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.secondRegister .registerContainer .section textarea:focus {
  border-color: #D5B81B;
}

.secondRegister .registerContainer .section2 {
  margin-top: 35px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.secondRegister .registerContainer .section2 .contentSemiBig {
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.8);
}

.secondRegister .registerContainer .section2 input {
  width: 60%;
  height: 50px;
  border: 1px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.secondRegister .registerContainer .section2 input:focus {
  border-color: #D5B81B;
}

.secondRegister .registerContainer .section2 button {
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.login {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login .loginContainer {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 40px;
  box-shadow: 1px 6px 4px rgba(49, 53, 75, 0.25);
  border-radius: 5px;
}

.login .loginContainer .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.login .loginContainer .title button {
  background-color: transparent;
  border: none;
}

.login .loginContainer .title button img {
  width: 25px;
  height: 25px;
}

.login .loginContainer .section .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.login .loginContainer .section .field p {
  margin-bottom: 10px;
}

.login .loginContainer .section .field input {
  outline: none;
  height: 45px;
  border: 2px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.login .loginContainer .section .field input:focus {
  border-color: #F5D108;
}

.login .loginContainer .section .field .lupaPass {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login .loginContainer .section .field .lupaPass button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: rgba(49, 53, 59, 0.5);
}

.login .loginContainer .section .buttonMasuk {
  width: 100%;
  height: 61px;
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.login .loginContainer .daftarSection {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
}

.login .loginContainer .daftarSection a {
  background-color: transparent;
  color: #D5B81B;
  border: none;
}

.loginPopUp {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 40px;
  border-radius: 9px;
}

.loginPopUp .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.loginPopUp .title button {
  background-color: transparent;
  border: none;
}

.loginPopUp .title button img {
  width: 25px;
  height: 25px;
}

.loginPopUp .loginSection .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.loginPopUp .loginSection .field p {
  margin-bottom: 10px;
}

.loginPopUp .loginSection .field input {
  outline: none;
  height: 45px;
  border: 2px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.loginPopUp .loginSection .field input:focus {
  border-color: #F5D108;
}

.loginPopUp .loginSection .field .lupaPass {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginPopUp .loginSection .field .lupaPass button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: rgba(49, 53, 59, 0.5);
}

.loginPopUp .loginSection .buttonMasuk {
  width: 100%;
  height: 61px;
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.loginPopUp .daftarSection {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
}

.loginPopUp .daftarSection a {
  background-color: transparent;
  color: #D5B81B;
  border: none;
}

.navbar {
  width: 100%;
  height: 90px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .dropdownProfil {
  position: relative;
  display: inline-block;
}

.navbar .dropdownProfil .dropdownList {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 5px;
  z-index: 2;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.navbar .dropdownProfil .dropdownList button {
  width: 100%;
  display: flex;
  background: white;
  border: none;
  padding: 5px 5px;
}

.navbar .dropdownNotifikasi {
  position: relative;
  display: inline-block;
}

.navbar .dropdownNotifikasi .dropdownList {
  display: none;
  position: absolute;
  width: 300px;
  margin-top: 5px;
  z-index: 1;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.navbar .dropdownNotifikasi .dropdownList .title {
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.navbar .dropdownNotifikasi .dropdownList .title button {
  color: #D5B81B;
  border: none;
  background: white;
}

.navbar .dropdownNotifikasi .dropdownList .content {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.navbar .dropdownNotifikasi .dropdownList .content img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar .dropdownNotifikasi .dropdownList .content .sectionText {
  color: #636363;
}

.navbar .dropdownNotifikasi .dropdownList .content:last-child {
  border: none;
}

.navbar .dropdownKeranjang {
  position: relative;
  display: inline-block;
}

.navbar .dropdownKeranjang .dropdownList {
  display: none;
  position: absolute;
  margin-top: 5px;
  width: 420px;
  z-index: 1;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.navbar .dropdownKeranjang .dropdownList .title {
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.navbar .dropdownKeranjang .dropdownList .title button {
  color: #D5B81B;
  border: none;
  background: white;
}

.navbar .dropdownKeranjang .dropdownList .content {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.navbar .dropdownKeranjang .dropdownList .content .sectionPicture {
  display: flex;
}

.navbar .dropdownKeranjang .dropdownList .content .sectionPicture img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar .dropdownKeranjang .dropdownList .content .sectionPicture .sectionText .contentSemiNormal {
  margin-bottom: 5px;
}

.navbar .dropdownKeranjang .dropdownList .content .section {
  color: #57B793;
}

.navbar .dropdownKeranjang .dropdownList .content:last-child {
  border: none;
}

.navbar .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar .locationSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.navbar .locationSection img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .locationSection .locationText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .locationSection .locationText p {
  margin: 0;
}

.navbar .searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .searchbar input {
  width: 28vw;
  height: 35px;
  padding: 0 50px 0 5px;
  border: 1px solid #31353B;
  outline: none;
}

.navbar .searchbar button {
  height: 35px;
  width: 45px;
  position: absolute;
  border: none;
  border-left: 1px solid rgba(49, 53, 59, 0.2);
  background-color: transparent;
}

.navbar .searchbar input:focus {
  outline: none;
  border-color: #F5D108;
}

.navbar .buttonWithImage {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .buttonWithImage img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .buttonLoginRegister {
  display: flex;
  justify-content: space-between;
}

.navbar .buttonLoginRegister .buttonLogin {
  width: 70px;
  height: 36px;
  border: 1px solid #FFD901;
  color: #F5D108;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
}

.navbar .buttonLoginRegister .buttonRegister {
  width: 70px;
  height: 36px;
  background-color: #FFD901;
  border: none;
  cursor: pointer;
}

.navbar .buttonAddWish {
  width: 70px;
  height: 36px;
  background-color: #FFD901;
  border: none;
}

.navbar .buttonAddWish img {
  width: 10px;
  height: 10px;
}

.navbar .buttonUser {
  height: 36px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar .buttonUser img {
  width: 30px;
  height: 30px;
}

.navbar .buttonUser #arrowUser {
  width: 10px;
  height: 10px;
}

.navbar .buttonUser .contentNormal {
  margin: 0 5px;
}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeCarousel {
  position: relative;
}

.homeCarousel .swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeCarousel .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeCarousel .swiper-button-next,
.homeCarousel .swiper-button-prev {
  color: #F5D108;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 50px;
  width: 60px;
  height: 60px;
}

.wish {
  height: 334px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(1px 6px 4px rgba(49, 53, 59, 0.12));
}

.wish img {
  width: 200px;
  height: 200px;
}

.wish .content {
  padding: 2px 6px;
}

.wish .timeLeft {
  height: 24px;
  width: 100%;
  background-color: #EA260D;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.lastMinuteSection {
  margin-top: 30px;
}

.lastMinuteSection .banner {
  position: absolute;
}

.lastMinuteSection .lastMinute {
  display: flex;
  justify-content: flex-end;
}

.lastMinuteSection .lastMinute .listWish {
  width: 59vw;
  height: 41vh;
  display: flex;
  align-items: center;
}

.lastMinuteSection .lastMinute .listWish .swiper-wrapper {
  height: 43vh;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  display: flex;
  align-items: center;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide .swiper-slide-active {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 0 !important;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category {
  margin-top: 30px;
}

.category .categorySwipe {
  padding: 0 85px;
}

.category .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category .filter {
  width: 120px;
  height: 120px;
  background-color: #FFD901;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category .filter .imgFilter {
  width: 62px;
  height: 62px;
}

.category .filter p {
  margin: 0;
}

.forYou {
  /* Clear floats after the columns */
}

.forYou .column {
  float: left;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.forYou .row {
  margin-top: 30px;
}

.forYou .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .column {
  float: left;
  width: 33.33%;
}

.wishDetail .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .product .price {
  margin: 10px 0;
  border-top: 2px solid rgba(49, 53, 59, 0.2);
  border-bottom: 2px solid rgba(49, 53, 59, 0.2);
}

.wishDetail .product .price h2 {
  margin: 10px 0;
}

.wishDetail .product .information .columnA {
  float: left;
  width: 40%;
  color: rgba(49, 53, 59, 0.5);
}

.wishDetail .product .information .columnB {
  float: left;
  width: 60%;
}

.wishDetail .product .information .columnB .imgShip {
  width: 50px;
}

.wishDetail .product .information .columnB .imgInfo {
  width: 20px;
}

.wishDetail .product .information .row {
  margin-bottom: 27px;
}

.wishDetail .product .information .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .checkout {
  width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.wishDetail .checkout .variant {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgba(49, 53, 59, 0.2);
  padding: 20px 20px;
}

.wishDetail .checkout .variant select {
  width: 235px;
  height: 36px;
  margin-top: 20px;
  outline: none;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.wishDetail .checkout .variant select:hover {
  color: #F5D108;
  border-color: #F5D108;
}

.wishDetail .checkout .total {
  padding: 20px 20px;
}

.wishDetail .checkout .total .inputTotal {
  display: flex;
  margin-top: 20px;
  margin-bottom: 8px;
}

.wishDetail .checkout .total p {
  margin-left: 5px;
}

.wishDetail .checkout .buttonCheckout .addKeranjang {
  width: 235px;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: 1px solid #FFD901;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.wishDetail .checkout .buttonCheckout .addKeranjang .plus {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.wishDetail .checkout .buttonCheckout .buyNow {
  width: 235px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #FFD901;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.wishDetail .productDetail {
  width: 875px;
  border: 1px solid rgba(49, 53, 59, 0.2);
  filter: drop-shadow(1px 6px 6px rgba(49, 53, 59, 0.15));
  border-radius: 5px;
}

.wishDetail .productDetail .title {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(49, 53, 59, 0.2);
}

.wishDetail .productDetail .content {
  padding: 25px 20px;
}

.wishDetail .swiper {
  width: 100%;
  height: 100%;
}

.wishDetail .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishDetail .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wishDetail .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.wishDetail .swiper-slide {
  background-size: cover;
  background-position: center;
}

.wishDetail .bigPicture {
  width: 80%;
}

.wishDetail .listPicture {
  height: 20%;
  box-sizing: border-box;
  width: 80%;
  padding: 10px 0;
}

.wishDetail .listPicture .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.wishDetail .listPicture .swiper-slide-thumb-active {
  opacity: 1;
}

.wishDetail .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.keranjang .columnA {
  float: left;
  width: 70%;
}

.keranjang .columnB {
  float: left;
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.keranjang .row:after {
  content: "";
  display: table;
  clear: both;
}

.keranjang .option {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid rgba(49, 53, 59, 0.5);
  padding: 10px 10px;
  margin-bottom: 15px;
}

.keranjang .option .pilihSemua {
  display: flex;
  align-items: center;
}

.keranjang .keranjangDetail {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.keranjang .keranjangDetail .productDetail {
  width: 100%;
  background: #FFFFFF;
  margin-left: 25px;
  height: 120px;
  border: 1px solid rgba(49, 53, 59, 0.05);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 0 15px;
}

.keranjang .keranjangDetail .productDetail .detail {
  display: flex;
  align-items: center;
}

.keranjang .keranjangDetail .productDetail .detail img {
  width: 80px;
  height: 80px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(49, 53, 59, 0.3);
}

.keranjang .keranjangDetail .productDetail .deleteAdd button img {
  width: 15px;
  height: 15px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd input[type=number] {
  margin-left: 10px;
}

.keranjang .total {
  width: 275px;
  height: 157px;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.keranjang .total button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.checkout .columnA {
  float: left;
  width: 70%;
}

.checkout .columnB {
  float: left;
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.checkout .row:after {
  content: "";
  display: table;
  clear: both;
}

.checkout .information {
  border-bottom: 2px solid rgba(49, 53, 59, 0.5);
  border-top: 2px solid rgba(49, 53, 59, 0.5);
  padding: 12px 0;
}

.checkout .itemDetail .productDetail {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.checkout .itemDetail .productDetail img {
  width: 80px;
  height: 80px;
}

.checkout .itemDetail .productDetail .detail {
  display: flex;
  align-items: center;
}

.checkout .itemDetail .productDetail .shipmentDetail {
  display: flex;
  flex-direction: column;
}

.checkout .itemDetail .productDetail .shipmentDetail select {
  width: 300px;
  height: 36px;
  outline: none;
  background: #FFD901;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 5px;
}

.checkout .total {
  width: 275px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.checkout .total button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 25px;
}

.checkout .total .ringkasanHarga {
  margin-top: 15px;
}

.checkout .total .ringkasanHarga .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout .total .ringkasanTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid rgba(49, 53, 59, 0.3);
  font-weight: bold;
}

.checkout .paymentPopup {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 20px 15px;
  border-radius: 9px;
  height: 319px;
  display: none;
}

.checkout .paymentPopup .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout .paymentPopup .title button {
  background-color: transparent;
  border: none;
}

.checkout .paymentPopup .title button img {
  width: 25px;
  height: 25px;
}

.checkout .paymentPopup .section .subSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 0;
}

.checkout .paymentPopup .section .subSection2 {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.checkout .paymentPopup .section .subSection2 img {
  width: 46px;
  height: 40px;
  margin-right: 5px;
}

.checkout .paymentPopup .section button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 45px;
}

.checkout .pembayaranVerifikasi {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 20px 15px;
  border-radius: 9px;
  height: 319px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.checkout .pembayaranVerifikasi .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout .pembayaranVerifikasi .section img {
  width: 120px;
  height: 120px;
}

.checkout .pembayaranVerifikasi button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.detailAkun {
  display: flex;
  justify-content: center;
}

.detailAkun .sideMenu {
  width: 294px;
  height: 521px;
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.detailAkun .sideMenu .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #000000;
}

.detailAkun .sideMenu .profile img {
  margin-bottom: 10px;
}

.detailAkun .sideMenu .menu {
  padding: 20px 0;
}

.detailAkun .sideMenu .menu .list {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.detailAkun .sideMenu .menu .list img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.detailAkun .sideMenu .menu .subList {
  padding-left: 35px;
}

.detailAkun .sideMenu .menu .subList .list {
  cursor: pointer;
  margin-bottom: 15px;
}

.detailAkun .sideMenu .menu .subList .list .contentSemiBig {
  color: #636363;
}

.detailAkun .content {
  width: 890px;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 30px;
}

.detailAkun .content .title {
  border-bottom: 1px solid #000000;
  padding-bottom: 30px;
}

.detailAkun .content .title .contentSemiBig {
  margin-top: 10px;
}

.detailAkun .content .titleWithButton {
  border-bottom: 1px solid #000000;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailAkun .content .titleWithButton .titleInButton .contentSemiBig {
  margin-top: 10px;
}

.detailAkun .content .titleWithButton .buttonContainer button {
  display: flex;
  align-items: center;
  background: #FFD901;
  border-radius: 5px;
  padding: 14px;
  border: none;
}

.detailAkun .content .titleWithButton .buttonContainer button img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.detailAkun .content .buttonSimpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailAkun .content .buttonSimpan button {
  padding: 12px 25px;
  background: #FFD901;
  border: none;
  border-radius: 5px;
}

.detailAkun .content .profil {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.detailAkun .content .profil .profilPict {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  margin-top: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.detailAkun .content .profil .profilPict img {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.detailAkun .content .profil .profilPict input[type=button] {
  width: 213px;
  height: 35px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.detailAkun .content .profil .profilPict input[type=file] {
  display: none;
}

.detailAkun .content .profil .biodata {
  padding: 0 40px 0 40px;
  margin-top: 15px;
  width: 100%;
}

.detailAkun .content .profil .biodata h3 {
  margin-bottom: 30px;
}

.detailAkun .content .profil .biodata .section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.detailAkun .content .profil .biodata .section .contentSemiNormal {
  width: 110px;
}

.detailAkun .content .profil .biodata .section input,
.detailAkun .content .profil .biodata .section select {
  height: 35px;
  width: 100%;
}

.detailAkun .content .alamatPengiriman {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.detailAkun .content .alamatPengiriman .listAlamat {
  margin: 15px 0;
}

.detailAkun .content .alamatPengiriman .listAlamat .titleWithEmblem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailAkun .content .alamatPengiriman .listAlamat .titleWithEmblem .emblem {
  width: 58px;
  height: 32px;
  background: #57B793;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.detailAkun .content .alamatPengiriman .keterangan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailAkun .content .alamatPengiriman .keterangan .section .sectionText {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.detailAkun .content .alamatPengiriman .keterangan .section button {
  background: #FFD901;
  border-radius: 5px;
  padding: 9px 15px;
  border: none;
}

.detailAkun .content .alamatPengiriman .buttonBawah {
  margin-top: 10px;
}

.detailAkun .content .alamatPengiriman .buttonBawah button {
  color: #57B793;
  background: none;
  border: none;
  border-right: 1px solid rgba(99, 99, 99, 0.5);
}

.detailAkun .content .alamatPengiriman .buttonBawah button:last-child {
  border-right: none;
}

.detailAkun .content .alamatPengiriman:last-child {
  border-bottom: none;
}

.detailAkun .content .creditDebit {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailAkun .content .creditDebit .listCreditDebit {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.detailAkun .content .creditDebit .listCreditDebit img {
  margin-right: 20px;
}

.detailAkun .content .creditDebit .listCreditDebit .titleWithEmblem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailAkun .content .creditDebit .listCreditDebit .titleWithEmblem .emblem {
  width: 58px;
  height: 32px;
  background: #57B793;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.detailAkun .content .creditDebit .listCreditDebit .keterangan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailAkun .content .creditDebit .listCreditDebit .keterangan .section .sectionText {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.detailAkun .content .creditDebit .listCreditDebit .keterangan .section button {
  background: #FFD901;
  border-radius: 5px;
  padding: 9px 15px;
  border: none;
}

.detailAkun .content .creditDebit .buttonSamping button {
  color: #57B793;
  background: none;
  border: none;
  border-right: 1px solid rgba(99, 99, 99, 0.5);
}

.detailAkun .content .creditDebit .buttonSamping button:last-child {
  border-right: none;
}

.detailAkun .content .creditDebit:last-child {
  border-bottom: none;
}

.detailAkun .content .changePassword {
  margin: 30px 0;
}

.detailAkun .content .changePassword .section .sectionInput {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.detailAkun .content .changePassword .section .sectionInput input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 270px;
  outline: none;
  padding: 0 5px;
}

.detailAkun .content .changePassword button {
  margin-left: 150px;
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #FFD901;
  border-radius: 5px;
}

.detailAkun .contentV2 {
  display: flex;
  width: 910px;
  margin-left: 45px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.detailAkun .contentV2 .filterSection {
  width: 910px;
  height: 161px;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.detailAkun .contentV2 .filterSection .upperSection {
  display: flex;
  height: 78px;
}

.detailAkun .contentV2 .filterSection .upperSection .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  border-top: 8px solid #000000;
  cursor: pointer;
}

.detailAkun .contentV2 .filterSection .upperSection .filter .contentSemiBig {
  font-weight: 500;
  text-align: center;
}

.detailAkun .contentV2 .filterSection .lowerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;
}

.detailAkun .contentV2 .filterSection .lowerSection .searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 880px;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.detailAkun .contentV2 .filterSection .lowerSection .searchbar input {
  width: 835px;
  padding: 13px 15px;
  margin: 0 2px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.detailAkun .contentV2 .filterSection .lowerSection .searchbar button {
  border: none;
  height: 46px;
  width: 46px;
  border-radius: 0 5px 5px 0;
}

.detailAkun .contentV2 .filterSection .lowerSection .searchbar:focus {
  border-color: #F5D108;
}

.detailAkun .contentV2 .wishSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 910px;
  margin-top: 15px;
}

.detailAkun .contentV2 .wishSection .wishCell {
  display: flex;
  justify-content: center;
  width: 910px;
  height: 249px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 27px 21px 27px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .header {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .header .contentSmall {
  font-family: "latoregular";
  margin-right: 11px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .header .textWishMaker {
  font-family: "latobold";
  font-weight: 1000;
  margin-right: 11px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail img {
  width: 118px;
  height: 118px;
  border-radius: 5px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 723px;
  height: 118px;
  margin-left: 15px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .wishInfo {
  width: 387px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .wishInfo .contentSemiNormal {
  font-weight: 500;
  margin-bottom: 6px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .wishInfo .contentSmall {
  font-family: "latoregular";
  color: #808080;
  font-weight: 400;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator {
  width: 723px;
  height: 64px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .contentSmall {
  font-family: "latoregular";
  color: #b1b1b1;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .progressNumber {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .progressNumber .contentBig {
  font-family: "latobold";
  color: #b1b1b1;
  margin-right: 4px;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .progressNumber .textCurrentProgress {
  color: #D5B81B;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .progressBar {
  width: 723px;
  height: 11px;
  background: #FFF09E;
  border-radius: 5px;
  position: relative;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .detail .detailContent .progressIndicator .progressBar .currentBar {
  width: 20%;
  height: 100%;
  background: #D5B81B;
  border-radius: 5px;
  position: absolute;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .edit {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .edit .buttonOnEdit {
  font-family: "latobold";
  color: #57B793;
  margin-right: 11px;
  cursor: pointer;
}

.detailAkun .contentV2 .wishSection .wishCell .wishCellContent .edit .separator {
  font-family: "lato";
  color: #b1b1b1;
  margin-right: 11px;
}

.detailAkun .contentV2 .transactionSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 910px;
  margin-top: 15px;
}

.detailAkun .contentV2 .transactionSection .transactionCell {
  display: flex;
  justify-content: center;
  width: 910px;
  height: 200px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 26px 21px 27px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 857px;
  margin-bottom: 18px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header .dateSection {
  display: flex;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header .dateSection .contentSmall {
  font-family: "latoregular";
  margin-right: 15px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header .dateSection .textWishProcessed {
  font-family: "latobold";
  font-weight: 1000;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header .statusSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .header .statusSection .dayIndicator {
  color: #EA260D;
  background: #FFFFFF;
  border: 1px solid #EA260D;
  border-radius: 15px;
  padding: 7px 14px;
  margin-right: 15px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail {
  display: flex;
  justify-content: flex-start;
  width: 857px;
  margin-bottom: 16px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .leftSection {
  display: flex;
  width: 668px;
  border-right: 1px solid #D9D9D9;
  margin-right: 25px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .leftSection img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-right: 22px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .leftSection .wishInfo {
  margin-top: 10px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .leftSection .wishInfo .wishName {
  margin-bottom: 6px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .leftSection .wishInfo .contribution {
  color: #808080;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .rightSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .rightSection .totalPriceSection .title {
  color: #808080;
  margin-bottom: 5px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .detail .rightSection .totalPriceSection .totalPrice {
  font-family: "latobold";
  font-weight: 1000;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 857px;
}

.detailAkun .contentV2 .transactionSection .transactionCell .transactionCellContent .edit .buttonOnEdit {
  font-family: "latobold";
  color: #57B793;
  cursor: pointer;
}

.popUpTambahAlamat {
  width: 441px;
  height: 733px;
  background: white;
  padding: 24px;
}

.popUpTambahAlamat .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popUpTambahAlamat .title button {
  background-color: transparent;
  border: none;
}

.popUpTambahAlamat .title button img {
  width: 25px;
  height: 25px;
}

.popUpTambahAlamat .section h4 {
  margin-bottom: 25px;
}

.popUpTambahAlamat .section .sectionInputSelect {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.popUpTambahAlamat .section .sectionInputSelect input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 100%;
}

.popUpTambahAlamat .section .sectionInputSelect select {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 100%;
}

.popUpTambahAlamat .section .sectionInputSelect textarea {
  resize: none;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
}

.popUpTambahAlamat .buttonSimpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpTambahAlamat .buttonSimpan button {
  padding: 12px 25px;
  background: #FFD901;
  border: none;
  border-radius: 5px;
}

.popUpTambahCreditDebit {
  width: 441px;
  background: white;
  padding: 24px;
}

.popUpTambahCreditDebit .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popUpTambahCreditDebit .title button {
  background-color: transparent;
  border: none;
}

.popUpTambahCreditDebit .title button img {
  width: 25px;
  height: 25px;
}

.popUpTambahCreditDebit .section .sectionInput {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.popUpTambahCreditDebit .section .sectionInput input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 60%;
}

.popUpTambahCreditDebit .buttonSimpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpTambahCreditDebit .buttonSimpan button {
  padding: 12px 25px;
  background: #FFD901;
  border: none;
  border-radius: 5px;
}

.buatWish .section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 40px;
  margin-top: 25px;
}

.buatWish .section .sectionInputSelect {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.buatWish .section .sectionInputSelect .ql-editor {
  min-height: 150px;
}

.buatWish .section .sectionInputSelect .doubleText {
  width: 30%;
}

.buatWish .section .sectionInputSelect input[type=text] {
  height: 30px;
  width: 100%;
  padding: 0 10px;
  margin-left: 30px;
}

.buatWish .section .sectionInputSelect select {
  height: 30px;
  width: 100%;
  margin-left: 30px;
}

.buatWish .notice {
  background: rgba(255, 217, 1, 0.25);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 24px 40px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buatWish .notice img {
  margin-right: 10px;
}

.buatWish .buttonKanan {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buatWish .buttonKanan img {
  width: 24px;
  height: 24px;
}

.buatWish .buttonKanan button {
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.buatWish .buttonKanan .batal {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 15px;
}

.buatWish .buttonKanan .simpan {
  background: #FFD901;
  border-radius: 5px;
  border: none;
}

.cariWish {
  display: flex;
  align-items: flex-start;
}

.cariWish .filter {
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
}

.cariWish .filter h3 {
  margin-bottom: 15px;
}

.cariWish .filter .content .section {
  margin-bottom: 15px;
}

.cariWish .filter .content .section h4 {
  margin-bottom: 10px;
}

.cariWish .filter .content .section .subSection {
  padding-left: 5px;
}

.cariWish .filter .content .section .subSection .checkboxText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cariWish .filter .content .section .subSection .checkboxText:last-child {
  margin-bottom: 0;
}

.cariWish .filter .content .section .subSection .textInput {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cariWish .filter .content .section .subSection .textInput input[type=text] {
  height: 30px;
}

.cariWish .filter .content .section .subSection .textInput .contentNormal {
  width: 45px;
  color: #636363;
}

.cariWish .filter .content .section .subSection .textInput:last-child {
  margin-bottom: 0px;
}

.cariWish .filter .content .section:last-child {
  margin-bottom: 0;
}

.cariWish .hasilPencarian {
  width: 100%;
}

.cariWish .hasilPencarian .topTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px;
}

.cariWish .hasilPencarian .topTab .section {
  display: flex;
  align-items: center;
}

.cariWish .hasilPencarian .topTab .section img {
  margin-right: 5px;
}

.cariWish .hasilPencarian .topTab .section select {
  margin-left: 5px;
  height: 30px;
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
}

.cariWish .hasilPencarian .hasil .column {
  float: left;
  width: 25%;
  display: flex;
  justify-content: center;
}

.cariWish .hasilPencarian .hasil .row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 15px;
}

