body {
  padding: 0;
  margin: 0;
  font-family: "lato", "latoregular", "latoblack", "latoblackitalic", "latobold", "latobolditalic", "latoitalic", "latolightitalic", "latolight";
}

#app {
  margin: 25px 120px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  cursor: pointer;
}

.barWithText .textProgress {
  display: flex;
  justify-content: flex-end;
}

.blackContainer {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentExtraSmall {
  font-size: 10px;
}

.contentSmall {
  font-size: 12px;
}

.contentSemiNormal {
  font-size: 14px;
}

.contentNormal {
  font-size: 16px;
}

.contentSemiBig {
  font-size: 18px;
}

.contentBig {
  font-size: 24px;
}

.contentSemiExtraBig {
  font-size: 30px;
}

.contentExtraBig {
  font-size: 36px;
}

.loginPopUp {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 40px;
  border-radius: 9px;
}

.loginPopUp .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.loginPopUp .title button {
  background-color: transparent;
  border: none;
}

.loginPopUp .title button img {
  width: 25px;
  height: 25px;
}

.loginPopUp .login .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.loginPopUp .login .field p {
  margin-bottom: 10px;
}

.loginPopUp .login .field input {
  outline: none;
  height: 45px;
  border: 2px solid rgba(49, 53, 59, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.loginPopUp .login .field input:focus {
  border-color: #F5D108;
}

.loginPopUp .login .field .lupaPass {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginPopUp .login .field .lupaPass button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: rgba(49, 53, 59, 0.5);
}

.loginPopUp .login .buttonMasuk {
  width: 100%;
  height: 61px;
  background: rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  border: none;
  color: rgba(49, 53, 59, 0.6);
}

.loginPopUp .daftarSection {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
}

.loginPopUp .daftarSection button {
  background-color: transparent;
  color: #D5B81B;
  border: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar .locationSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.navbar .locationSection img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .locationSection .locationText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .locationSection .locationText p {
  margin: 0;
}

.navbar .searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .searchbar input {
  width: 28vw;
  height: 35px;
  padding: 0 50px 0 5px;
  border: 1px solid #31353B;
  outline: none;
}

.navbar .searchbar button {
  height: 35px;
  width: 45px;
  position: absolute;
  border: none;
  border-left: 1px solid rgba(49, 53, 59, 0.2);
  background-color: transparent;
}

.navbar .searchbar input:focus {
  outline: none;
  border-color: #F5D108;
}

.navbar .buttonWithImage {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .buttonWithImage img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .buttonLoginRegister .buttonLogin {
  width: 70px;
  height: 36px;
  border: 1px solid #FFD901;
  color: #F5D108;
  background-color: transparent;
  cursor: pointer;
}

.navbar .buttonLoginRegister .buttonRegister {
  width: 70px;
  height: 36px;
  background-color: #FFD901;
  border: none;
  cursor: pointer;
}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeCarousel {
  position: relative;
}

.homeCarousel .swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeCarousel .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeCarousel .swiper-button-next,
.homeCarousel .swiper-button-prev {
  color: #F5D108;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 50px;
  width: 60px;
  height: 60px;
}

.wish {
  height: 334px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(1px 6px 4px rgba(49, 53, 59, 0.12));
}

.wish img {
  width: 200px;
  height: 200px;
}

.wish .content {
  padding: 2px 6px;
}

.wish .timeLeft {
  height: 24px;
  width: 100%;
  background-color: #EA260D;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.lastMinuteSection {
  margin-top: 30px;
}

.lastMinuteSection .banner {
  position: absolute;
}

.lastMinuteSection .lastMinute {
  display: flex;
  justify-content: flex-end;
}

.lastMinuteSection .lastMinute .listWish {
  width: 59vw;
  height: 41vh;
  display: flex;
  align-items: center;
}

.lastMinuteSection .lastMinute .listWish .swiper-wrapper {
  height: 43vh;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  display: flex;
  align-items: center;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide .swiper-slide-active {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 0 !important;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category {
  margin-top: 30px;
}

.category .categorySwipe {
  padding: 0 85px;
}

.category .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category .filter {
  width: 120px;
  height: 120px;
  background-color: #FFD901;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category .filter .imgFilter {
  width: 62px;
  height: 62px;
}

.category .filter p {
  margin: 0;
}

.forYou {
  /* Clear floats after the columns */
}

.forYou .column {
  float: left;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.forYou .row {
  margin-top: 30px;
}

.forYou .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .column {
  float: left;
  width: 33.33%;
}

.wishDetail .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .product .price {
  margin: 10px 0;
  border-top: 2px solid rgba(49, 53, 59, 0.2);
  border-bottom: 2px solid rgba(49, 53, 59, 0.2);
}

.wishDetail .product .price h2 {
  margin: 10px 0;
}

.wishDetail .product .information .columnA {
  float: left;
  width: 40%;
  color: rgba(49, 53, 59, 0.5);
}

.wishDetail .product .information .columnB {
  float: left;
  width: 60%;
}

.wishDetail .product .information .columnB .imgShip {
  width: 50px;
}

.wishDetail .product .information .columnB .imgInfo {
  width: 20px;
}

.wishDetail .product .information .row {
  margin-bottom: 27px;
}

.wishDetail .product .information .row:after {
  content: "";
  display: table;
  clear: both;
}

.wishDetail .checkout {
  width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
}

.wishDetail .checkout .variant {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgba(49, 53, 59, 0.2);
  padding: 20px 20px;
}

.wishDetail .checkout .variant select {
  width: 235px;
  height: 36px;
  margin-top: 20px;
  outline: none;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.wishDetail .checkout .variant select:hover {
  color: #F5D108;
  border-color: #F5D108;
}

.wishDetail .checkout .total {
  padding: 20px 20px;
}

.wishDetail .checkout .total .inputTotal {
  display: flex;
  margin-top: 20px;
  margin-bottom: 8px;
}

.wishDetail .checkout .total p {
  margin-left: 5px;
}

.wishDetail .checkout .buttonCheckout .addKeranjang {
  width: 235px;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: 1px solid #FFD901;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.wishDetail .checkout .buttonCheckout .addKeranjang .plus {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.wishDetail .checkout .buttonCheckout .buyNow {
  width: 235px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #FFD901;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.wishDetail .productDetail {
  width: 875px;
  border: 1px solid rgba(49, 53, 59, 0.2);
  filter: drop-shadow(1px 6px 6px rgba(49, 53, 59, 0.15));
  border-radius: 5px;
}

.wishDetail .productDetail .title {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(49, 53, 59, 0.2);
}

.wishDetail .productDetail .content {
  padding: 25px 20px;
}

.wishDetail .swiper {
  width: 100%;
  height: 100%;
}

.wishDetail .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishDetail .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wishDetail .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.wishDetail .swiper-slide {
  background-size: cover;
  background-position: center;
}

.wishDetail .bigPicture {
  width: 80%;
}

.wishDetail .listPicture {
  height: 20%;
  box-sizing: border-box;
  width: 80%;
  padding: 10px 0;
}

.wishDetail .listPicture .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.wishDetail .listPicture .swiper-slide-thumb-active {
  opacity: 1;
}

.wishDetail .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.keranjang .columnA {
  float: left;
  width: 70%;
}

.keranjang .columnB {
  float: left;
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.keranjang .row:after {
  content: "";
  display: table;
  clear: both;
}

.keranjang .option {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid rgba(49, 53, 59, 0.5);
  padding: 10px 10px;
  margin-bottom: 15px;
}

.keranjang .option .pilihSemua {
  display: flex;
  align-items: center;
}

.keranjang .keranjangDetail {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.keranjang .keranjangDetail .productDetail {
  width: 100%;
  background: #FFFFFF;
  margin-left: 25px;
  height: 120px;
  border: 1px solid rgba(49, 53, 59, 0.05);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 0 15px;
}

.keranjang .keranjangDetail .productDetail .detail {
  display: flex;
  align-items: center;
}

.keranjang .keranjangDetail .productDetail .detail img {
  width: 80px;
  height: 80px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(49, 53, 59, 0.3);
}

.keranjang .keranjangDetail .productDetail .deleteAdd button img {
  width: 15px;
  height: 15px;
}

.keranjang .keranjangDetail .productDetail .deleteAdd input[type=number] {
  margin-left: 10px;
}

.keranjang .total {
  width: 275px;
  height: 157px;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.keranjang .total button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.checkout .columnA {
  float: left;
  width: 70%;
}

.checkout .columnB {
  float: left;
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.checkout .row:after {
  content: "";
  display: table;
  clear: both;
}

.checkout .information {
  border-bottom: 2px solid rgba(49, 53, 59, 0.5);
  border-top: 2px solid rgba(49, 53, 59, 0.5);
  padding: 12px 0;
}

.checkout .itemDetail .productDetail {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.checkout .itemDetail .productDetail img {
  width: 80px;
  height: 80px;
}

.checkout .itemDetail .productDetail .detail {
  display: flex;
  align-items: center;
}

.checkout .itemDetail .productDetail .shipmentDetail {
  display: flex;
  flex-direction: column;
}

.checkout .itemDetail .productDetail .shipmentDetail select {
  width: 300px;
  height: 36px;
  outline: none;
  background: #FFD901;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 5px;
}

.checkout .total {
  width: 275px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid rgba(49, 53, 59, 0.2);
  box-sizing: border-box;
  box-shadow: 1px 6px 6px rgba(49, 53, 59, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.checkout .total button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 25px;
}

.checkout .total .ringkasanHarga {
  margin-top: 15px;
}

.checkout .total .ringkasanHarga .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout .total .ringkasanTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid rgba(49, 53, 59, 0.3);
  font-weight: bold;
}

.checkout .paymentPopup {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 20px 15px;
  border-radius: 9px;
  height: 319px;
  display: none;
}

.checkout .paymentPopup .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout .paymentPopup .title button {
  background-color: transparent;
  border: none;
}

.checkout .paymentPopup .title button img {
  width: 25px;
  height: 25px;
}

.checkout .paymentPopup .section .subSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 0;
}

.checkout .paymentPopup .section .subSection2 {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.checkout .paymentPopup .section .subSection2 img {
  width: 46px;
  height: 40px;
  margin-right: 5px;
}

.checkout .paymentPopup .section button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 45px;
}

.checkout .pembayaranVerifikasi {
  background-color: white;
  width: 490px;
  margin-right: 8%;
  padding: 20px 15px;
  border-radius: 9px;
  height: 319px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.checkout .pembayaranVerifikasi .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout .pembayaranVerifikasi .section img {
  width: 120px;
  height: 120px;
}

.checkout .pembayaranVerifikasi button {
  color: #010101;
  height: 36px;
  background: #FFD901;
  border-radius: 5px;
  border: none;
  width: 100%;
}

