body {
  margin: 25px 120px;
  font-family: "lato", "latoregular", "latoblack", "latoblackitalic", "latobold", "latobolditalic", "latoitalic", "latolightitalic", "latolight";
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar .locationSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.navbar .locationSection img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .locationSection .locationText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .locationSection .locationText p {
  margin: 0;
}

.navbar .searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .searchbar input {
  width: 28vw;
  height: 35px;
  padding: 0 50px 0 5px;
  border: 1px solid #31353B;
  outline: none;
}

.navbar .searchbar button {
  height: 35px;
  width: 45px;
  position: absolute;
  border: none;
  border-left: 1px solid rgba(49, 53, 59, 0.2);
  background-color: transparent;
}

.navbar .searchbar input:focus {
  outline: none;
  border-color: #F5D108;
}

.navbar .buttonWithImage {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .buttonWithImage img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.navbar .buttonLoginRegister .buttonLogin {
  width: 70px;
  height: 36px;
  border: 1px solid #FFD901;
  color: #F5D108;
  background-color: transparent;
  cursor: pointer;
}

.navbar .buttonLoginRegister .buttonRegister {
  width: 70px;
  height: 36px;
  background-color: #FFD901;
  border: none;
  cursor: pointer;
}

.homeCarousel {
  position: relative;
}

.homeCarousel .swiper-container {
  width: 100%;
  height: 400px;
}

.homeCarousel .swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeCarousel .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeCarousel .swiper-button-next,
.homeCarousel .swiper-button-prev {
  color: #F5D108;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 50px;
  width: 60px;
  height: 60px;
}

.homeCarousel .swiper-pagination {
  bottom: 4.5vh !important;
}

.wish {
  height: 334px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(1px 6px 4px rgba(49, 53, 59, 0.12));
}

.wish p,
.wish h3 {
  margin: 0;
}

.wish img {
  width: 200px;
  height: 200px;
}

.wish .content {
  padding: 2px 6px;
}

.wish .timeLeft {
  height: 24px;
  width: 100%;
  background-color: #EA260D;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.lastMinuteSection {
  margin-top: 35px;
}

.lastMinuteSection .banner {
  position: absolute;
}

.lastMinuteSection .lastMinute {
  display: flex;
  justify-content: flex-end;
}

.lastMinuteSection .lastMinute .listWish {
  width: 60vw;
}

.lastMinuteSection .lastMinute .listWish .swiper-wrapper {
  height: 43vh;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  display: flex;
  align-items: center;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide .swiper-slide-active {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 0 !important;
}

.lastMinuteSection .lastMinute .listWish .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category {
  margin-top: 30px;
}

.category .categorySwipe {
  padding: 0 85px;
}

.category .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

.category .filter {
  width: 120px;
  height: 120px;
  background-color: #FFD901;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category .filter .imgFilter {
  width: 62px;
  height: 62px;
}

.category .filter p {
  margin: 0;
}

.forYou {
  /* Clear floats after the columns */
}

.forYou .column {
  float: left;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.forYou .row {
  margin-top: 30px;
}

.forYou .row:after {
  content: "";
  display: table;
  clear: both;
}

