
@font-face {
    font-family: 'latoblack';
    src: url('Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblackitalic';
    src: url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobolditalic';
    src: url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolightitalic';
    src: url('Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latothin';
    src: url('Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'latothinitalic';
    src: url('Lato-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
